/* navbar */

.navbar {
    font-size: 1.2rem;
    padding: 0.3rem 0;
}

.navbar .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}
.navbar .container .logo {
    font-weight:bold;
    font-size: 28px;
}

.navbar ul {
    display: flex;
    justify-self: flex-end;
    align-items: center;
    justify-content: space-between;
}
.navbar ul li {
    width: 40%;
}

.navbar a {
    padding: 0 1rem;
}

.navbar a:hover {
    color: var(--ternary-color);
}